body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
  }
  h1 {
    text-align: center;
    color: #ffcc00;
    margin-top: 50px;
    font-size: 3em;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  select {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
  }
  .button {
    background-color: #ffcc00;
    border: none;
    padding: 15px 30px;
    font-size: 1.5em;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    transition: all 0.3s ease;
  }
  .button:hover {
    background-color: #ffb700;
    transform: scale(1.05);
  }
  .skin-image {
    max-width: 300px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .result {
    margin-top: 30px;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    display: none;
  }
  .skin-name {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .skin-rarity {
    font-size: 1.2em;
    color: #ffcc00;
  }
  /* Spinning Animation */
@keyframes spinAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spin {
    animation: spinAnimation 3s linear infinite;
  }
  